*{
    margin: 0;
}

body {
    display: flex;
    background: url(images/primaryBackground.svg);
    font-family: 'Roboto', sans-serif;
}

main {
    background: url(images/background.svg);
    width: 30.0rem;
    height: 45.0rem;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 100%;
    margin-top: 50px;
    clip-path: circle(33% at 50% 50%);
}

.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.aditionalInfo {
    margin-inline: auto;
    margin-top: 25px;
    max-width: 250px;
    text-align: center;
}

.caies {
    margin-top: 5px;
}

h1 {
    font-size: 2rem;
}

ul {
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
}

li {
    display: inline-block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: lightgray;
    text-decoration: none;
}