* {
  margin: 0;
}

body {
  display: flex;
  background: url(images/primaryBackground.svg);
  font-family: 'Roboto', sans-serif;
}

main {
  background: url(images/background.svg);
  width: 30rem;
  height: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 100%;
  margin-top: 50px;
  clip-path: circle(33% at 50% 50%);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.aditionalInfo {
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.501);
  margin-inline: auto;
  margin-top: 10px;
  max-width: 250px;
  text-align: center;
  padding: 5px;
}

.caies {
  margin-top: 5px;
  margin-inline: auto;
  max-width: 250px;
}

h1 {
  font-size: 2rem;
}

ul {
  margin-right: 0%;
  margin-left: 0%;
  padding: 0%;
}

li {
  display: inline-block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: lightgray;
  text-decoration: none;
}